@mixin flex($flow: row wrap, $justify-content: flex-start , $align-items: stretch, $gap: 0) {
    display: flex;
    flex-flow: $flow;
    justify-content: $justify-content;
    align-items: $align-items;
    gap: $gap;
}


@mixin spacing($margin, $padding){
    margin: $margin;
    padding: $padding;
}

@mixin p-absolute($top, $right, $z-index){
    position: absolute;
    top: $top;
    right: $right;
    z-index: $z-index;
}